body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes up at least the full height of the viewport */
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  flex-grow: 1; /* Ensures content takes up available space above footer */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.upload-section, .master-tracks {
  margin-bottom: 30px;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #65040e; /* Updated color */
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #5A030C; /* Darker shade of the same color */
}

.audio-list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

audio {
  width: 100%;
}

header {
  background-color: #65040e; /* Updated color */
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer {
  background-color: #65040e; /* Updated color */
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%; /* Ensures the footer spans the full width of the page */
}

.master-tracks {
  margin-bottom: 30px;
}

.master-tracks h2 {
  font-size: 1.8rem;
  color: #65040e;  /* Updated color */
}

#self-destruct {
  boarder-bottom: black;
  bottom: anchor(footer);
}
