body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAF9F6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  flex-grow: 1; 
}

h1 {
  font-size: 1rem;
  margin: auto;
}

.upload-section, .master-tracks {
  margin-bottom: 30px;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #000000; 
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #5A030C;
}

.audio-list {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

audio {
  width: 100%;
}



.round-button-img {
  margin: auto;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #333;
}

.master-tracks h2 {
  font-size: 1.8rem;
  color: #000000; 
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #222;
  color: white;
  padding: 15px;
  position: fixed !important;
  z-index: 9999;
  overflow: auto;
}

.w3-bar-item {
  color: #000000;
  font-size: 16px;
}

.w3-bar-item:hover {
  background-color: #333; /* Subtle hover effect */
}


.w3-btn, .w3-button {
  user-select: none; /* Prevents text selection */
}
.w3-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
              0 6px 20px 0 rgba(0,0,0,0.19);
}
.w3-disabled,
.w3-btn:disabled,
.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.w3-disabled *,
:disabled * {
  pointer-events: none;
}
.w3-btn.w3-disabled:hover,
.w3-btn:disabled:hover {
  box-shadow: none;
}

